<footer class="bg-magenta p-4">
  <div class="container">
    <ul id="footer-list">
      <li class="mt-2"><h3 class="font-weight-bold">Like what you see?</h3></li>  
      <li class="mt-2 font-weight-bold">Then give us a call and we'll chat through what you need. We've got tea, coffee and biscuits!</li>  
      <li class="mt-2 mb-1 "><a href="#">(if you're quick)</a></li>  
      <hr>
      <li class="mt-2 "><p class="font-weight-bold">(619)786-0010</p></li>  
      <li class="mt-2 "><p class="font-weight-bold">capodaca@nearshoretechnology.com</p></li>  
      <li class="mt-2 "><p class="font-weight-bold">Christopher Apodaca, Web Developer</p></li>  
      <li class="mt-2 "><p class="font-weight-bold">1353 Riverstone Parkway<br>Ste. 120-335, Canton GA 30114</p></li>  
    </ul>
    <%= render 'shared/social_links' %>
  </div>
</footer>


