<div class="social-icon-list">
  <!--Facebook-->
  <a class="fb-ic" role="button"><i class="fa fa-lg fa-facebook-f"></i></a>
  <!--Youtube-->
  <a class="yt-ic" role="button"><i class="fa fa-lg fa-youtube"></i></a>
  <!--Github-->
  <a class="git-ic" role="button"><i class="fa fa-lg fa-github"></i></a>
</div>
