$black:#080705;
$white:white;
$off-white: #fcfcfc;
$purple: #4b4e6d;
$aqua: #84dcc6;
$magenta-bright: #DC0073;
$magenta: #AA1155;
$magenta-dark:#880044;
$magenta-evil: #6d033a;
$blue: #008BF8;
$gray:#94a3b3;

.bg-magenta{
  background-color: $magenta;
}

*{
  position:relative;
  box-sizing:border-box;
  font-family:Arial;
  transition:250ms;
}
html,body{
  margin:0;
  padding:0;
  color: $black;
  min-height:100vh;
  height:100%;
  color:$black;
}
h1,h2{
  color:$black;
}
label{
  color:$black;
}
ul{
  margin:0;
  list-style:none;
}

a{
  color:$purple;
  text-decoration:none;
}
//bootstrap overrides
.btn-primary{
  color: #fff;
  background-color: $magenta-bright;
  border-color: $magenta-dark;
 
  &:hover{
    background-color: $magenta-dark;
    border-color: $magenta;
  }
}
.jumbotron{
  background-color:$off-white;
}
//custom
#full-content{
  height:100%;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:auto;
}
#content{
  display:block;
  position:relative;
  background-image: url(/assets/bg/golden-arch.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-container{
  max-width:600px;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content:center;
  align-content: center;
  padding:1em;
}
.form-back{
  background-color:$white;
  border-radius:5px;
}

footer{
  display:grid;
  align-items: center;
  border-top: 3px solid $magenta-bright;
}

ul#footer-list{
  color:white;
  text-align:center;
}
.social-icon-list{
  text-align:center;
  a{
    font-size:20pt;
    cursor:pointer;

    i{
      color:$magenta-dark;
      width:50px;
    }
    &:hover{
      i{
        color: $magenta-evil;
      }
    }
  }
}

